* {
    margin: 0;
    padding: 0;
}

/* nav-bar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
}

.link-parent {
    display: flex;
    gap: 32px;
    list-style: none;

}

.link-parent a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: rgb(14, 59, 206);
}

nav button {
    border-radius: 4px;
    padding: 12px 16px;
    background-color: #469165;
    cursor: pointer;
}

.primary-btn {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
}



/* hero-section */
.hero-container {
    height: 600px;
    text-align: center;
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.btn-1 {
    margin-top: 150px;
    padding: 5px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.btn-1 span {
    color: #469165;
    font-size: 10px;
}

.hero-title {
    font-size: 60px;
    color: #FFFFFF
}

.hero-title .second-title {
    color: #30B868;
}

.hero-parent p {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    padding-bottom: 20px;
}

.buttons a {
    text-decoration: none;
    color: inherit;
}

.buttons .btn-3 {
    padding: 10px 15px;
    border-radius: 8px;
    margin-right: 10px;
    background-color: #30B868;
}

.buttons .primary {
    color: rgba(255, 255, 255, 1);
}

.buttons .btn-4 {
    padding: 10px 15px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    margin-right: 10px;
    background-color: none;
}

.buttons .secondary {
    color: rgba(255, 255, 255, 1);

}

/* nots-section */

.nots-container {

    text-align: center;
}


.btn-parent {
    display: flex;
    justify-content: space-evenly;
    padding: 0 220px;
}


.nots-title {
    margin-top: 40px;
    color: #001931;
    font-size: 48px;
}

.nots-p {
    margin-top: 16px;
    margin-bottom: 44px;
    font-size: 16px;
    font-weight: 400;
    color: #627382;

}

.btn {
    border: 1px solid whitesmoke;
    border-radius: 8px;
    padding: 70px 24px;
    background-color: rgba(255, 255, 255, 1);
}

.btn img {
    background-color: rgba(249, 85, 85, 1);
    padding: 10px;
    border-radius: 40px;
}

.btn h4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    padding: 8px 0;
}

.btn p {
    font-size: 16px;
    font-weight: 400;
    color: #627382;

}

/* knowledge section  */


.knowledge-container img {
    padding: 120px 0px 120px 280px;
}

.knowledge-parent {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.text {
    padding: 222px 550px 0 0;
}

.text h5 {
    color: #30B868;
    line-height: 20px;
    font-size: 16px;
}

.text h2 {
    font-size: 48px;

}

.text p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin: 7px 0;
}

.text ul {
    list-style: none;

}

.text ul li {
    margin-bottom: 10px;
}

.text ul li::before {
    content: url(../assets/CheckCircle.png);

}

/* challange-container section */

.challange-container {
    text-align: center;
    margin: 2px 298px 0px 300px;
    border: 1px solid whitesmoke;
    border-radius: 8px;
    background-color: #F7F6F2;
}

.challange-container h2 {
    padding-top: 80px;
    font-size: 40px;
}

.challange-container p {
    font-size: 16px;
    line-height: 24px;
    color: #627382;
}

.challange-container button a {
    text-decoration: none;
    color: inherit;
}

.challange-container button {
    padding: 10px 15px;
    border-radius: 8px;
    background-color: #30B868;
    cursor: pointer;
}

.challange-container .primary2 {
    color: rgba(255, 255, 255, 1);
    ;
}

/* footer section  */

footer {

    text-align: center;
    margin-top: 120px;
}

.footer-prent {

    display: flex;
    justify-content: space-between;
    justify-items: center;
    padding: 120px 120px 164px 120px;
    background-color: #001931;
}

.line {

    background-color: #001931;
}

.footer-prent .social-div {
    font-size: 16px;
    margin: 50px;
    color: #fafafa;
}


.footer-prent .social-icon a {
    text-decoration: none;
    color: inherit;
    padding: 3px;
    margin-bottom: 40px;
    border: 1px solid #FAFAFA;
    border-radius: 50%;


}

.line p {
    padding: 30px 0;
    font-size: 16px;
    line-height: 24px;
    color: #FAFAFA;
}